<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="ISO-8859-1">
    <title>Eagles.com</title>
    <link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/general.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="main-container">
    <header th:include="fragments/general.html :: header"></header>
    <section class="section hori-section">
        <div class="section-item">
            <h1>Account Overview</h1>
            <div class="section-item-buttons">
                <a th:href="@{/home/profilePage}">
                    <button>Personal Information <span>&#10230;</span></button>
                </a>
                <a th:href="@{/home/addressPage}">
                    <button style="background-color: black; color:white;">Addresses <span>&#10230;</span></button>
                </a>
                <a th:href="@{/home/orderHistory}">
                    <button>My Orders <span>&#10230;</span></button>
                </a>
                <a th:href="@{/home/paymentPage}">
                    <button>Payments <span>&#10230;</span></button>
                </a>
                <a th:href="@{/home/wishListPage}">
                    <button>Favourites <span>&#10230;</span></button>
                </a>
                <a th:href="@{/logout}">
                    <button>Log Out <span>&#10230;</span></button>
                </a>
            </div>
        </div>
        <div class="section-item2">
            <h1>Addresses</h1>
            <div class="item" >
                <h3 class="linklight"> &#43;<a th:href="@{/home/getFormAddressPage}" > Add new address</a></h3>
            </div>
            <div th:each="address : ${addresses}"  class="item adresses">
                <h3 th:text="${address.email}" ></h3>
                <p th:text="${address.street} + ', ' + ${address.city} + ', ' +  ${address.province} + ', ' + ${address.postalCode}"></p>
                <div>
                    <a>Edit</a> | <a th:href="@{/deleteAddress/{id}(id=${address.addressId})}" id="remove">Remove</a>
                </div>
            </div>
           
        </div>
    </section>
    <footer th:include="fragments/general.html :: footer"></footer>
</div>
<script th:src="@{/Script/dropdown.js}"></script>


<script th:src="@{/Script/search.js}"></script>


</body>
</html>
