<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Eagles.com</title>
 <link rel="icon" type="image/x-icon" th:href="@{/images/logo.png}">

<link rel="stylesheet" th:href="@{/css/general.css}">
<link rel="stylesheet" th:href="@{/css/generalViewPage.css}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">


</head>

<body>
	
	
	<header th:include="~{fragments/general.html :: header}"></header>
	<section class="fiter-section" >
		<div class="">
			<div class="Search-result">
			<h4>Home</h4>/ 
			<p>All shoes</p>
		</div>
			
		</div>
		
		<hr>
		<div class="main-tool-bar">
			<div class="tool-bar">
				<i class="fa fa-sliders"></i>
				<div class="toolbar-container ">
					<div class="tool-bar-items product-details-control">
						<p>Gender</p>
						<i class="fa fa-angle-down desc-icons" style="font-size:24px; color:black;"></i>
					</div>
					
					<div class="gender-dropdown product-details-dropdown dropdown-hidden">
						<span class="cancel-drop">x</span>
						<label class="container">
						  <input type="checkbox" />
						 <span class="gender-type"> Men</span>
						 <span class="gender-count">[35]</span>
						</label>
						<label class="container">
						  <input type="checkbox">
						  <span class="gender-type">Women</span>
						 <span class="gender-count">[25]</span>
						</label>
						<label class="container">
						  <input type="checkbox">
						  <span class="gender-type">Boys</span>
						  <span class="gender-count">[15]</span>
						</label>
						<label class="container">
						  <input type="checkbox">
						  <span class="gender-type">Girls</span>
						  <span class="gender-count">[15]</span>
						</label>
						<label class="container">
						  <input type="checkbox">
						  <span class="gender-type">Unisex</span>
						  <span class="gender-count">[10]</span>
						</label>
					</div>
					
				</div>
			
				<div>
					<div class="tool-bar-items product-details-control">
						<p>Price</p>
						<i class="fa fa-angle-down desc-icons" style="font-size:24px; color:black;"></i>
					</div>
					<div class="price-dropdown  product-details-dropdown dropdown-hidden ">
						<span class="cancel-drop">x</span>
						<label class="container">
						  <input type="radio" name="price-group" />
						  <span class="price-range"> C$ 80 - C$ 150</span>
						</label>
						<label class="container">
						  <input type="radio" name="price-group">
						 <span class="price-range"> C$ 170 - C$ 300</span>
						</label>
						<label class="container">
						  <input type="radio" name="price-group">
						  <span class="price-range"> C$ 310 - C$ 500</span>
						</label>
						<label class="container">
						  <input type="radio" name="price-group">
						  <span class="price-range">Above - C$ 500</span>
						</label>
						
					</div>
				</div>
				
				<div>
					<div class="tool-bar-items product-details-control">
						<p>Category</p>
						<i class="fa fa-angle-down desc-icons" style="font-size:24px; color:black;"></i>
					</div>
					
					<div class="category-dropdown product-details-dropdown dropdown-hidden">
						<span class="cancel-drop">x</span>
						<label class="container">
						  <input type="checkbox" />
						 <span class="category-type"> Trending Shoes</span>
						</label>
						<label class="container">
						  <input type="checkbox">
						  <span class="category-type">Exclusive Shoes</span>
					
						</label>
						<label class="container">
						  <input type="checkbox">
						  <span class="category-type">Premium Shoes</span>
						</label>
						<label class="container">
						  <input type="checkbox">
						  <span class="category-type">New Arrivals</span>
						</label>
						<label class="container">
						  <input type="checkbox">
						  <span class="category-type">Casual Shoes</span>
						</label>
					</div>
				</div>
				
			
				<div>
					<div class="tool-bar-items product-details-control">
						<p>Size</p>
						<i class="fa fa-angle-down desc-icons" style="font-size:24px; color:black;"></i>
					</div>
					<div class="size-dropdown product-details-dropdown dropdown-hidden">
						<span class="cancel-drop">x</span>
						<div class="size-numbers">
							<p>3</p>
						</div>
						<div class="size-numbers">
							<p>3.5</p>
						</div>
						<div class="size-numbers">
							<p>4</p>
						</div>
						<div class="size-numbers">
							<p>4.5</p>
						</div>
						<div class="size-numbers">
							<p>5</p>
						</div>
						<div class="size-numbers">
							<p>5.5</p>
						</div>
						<div class="size-numbers">
							<p>6</p>
						</div>
						<div class="size-numbers">
							<p>6.5</p>
						</div>
						<div class="size-numbers">
							<p>7</p>
						</div>
						<div class="size-numbers">
							<p>7.5</p>
						</div>
						<div class="size-numbers">
							<p>8</p>
						</div>
						<div class="size-numbers">
							<p>8.5</p>
						</div>
						<div class="size-numbers">
							<p>9</p>
						</div>
						<div class="size-numbers">
							<p>9.5</p>
						</div>
						<div class="size-numbers">
							<p>10</p>
						</div>
						<div class="size-numbers">
							<p>10.5</p>
						</div>
						<div class="size-numbers">
							<p>11</p>
						</div>
						<div class="size-numbers">
							<p>12</p>
						</div>
					</div>
				</div>
			
				<div>
					<div class="tool-bar-items product-details-control">
						<p>Colour</p>
						<i class="fa fa-angle-down desc-icons" style="font-size:24px; color:black;"></i>
					</div>
					<div class="color-dropdown  product-details-dropdown dropdown-hidden">
						<span class="cancel-drop">x</span>
						
						<div class="color-box">
							<div class="color-img" style="background-color: black;"></div>
							<p>Black [30]</p>
						</div>
						<div class="color-box">
							<div class="color-img" style="background-color: white;"></div>
							<p>white [20]</p>
						</div>
						<div class="color-box">
							<div class="color-img" style="background-color: yellow;"></div>
							<p>Yellow [8]</p>
						</div>
						<div class="color-box">
							<div class="color-img" style="background-color: pink;"></div>
							<p>Pink [3]</p>
						</div>
						<div class="color-box">
							<div class="color-img" style="background-color: cornsilk;"></div>
							<p>Beigie [11]</p>
						</div>
						<div class="color-box">
							<div class="color-img" style="background-color: brown;"></div>
							<p>Brown [12]</p>
						</div>
						<div class="color-box">
							<div class="color-img" style="background-color: gray;"></div>
							<p>Gray [15]</p>
						</div>
						<div class="color-box">
							<div class="color-img" style="background-color: blue;"></div>
							<p>Blue [11]</p>
						</div>
						<div class="color-box">
							<div class="color-img" style="background-color: green;"></div>
							<p>Green [5]</p>
						</div>
						<div class="color-box">
							<div class="color-img" style="background-color: purple;"></div>
							<p>Purpule [3]</p>
						</div>
					</div>
				</div>
				
				
				<div>
					<div class="tool-bar-items product-details-control">
						<p>Style</p>
						<i class="fa fa-angle-down desc-icons" style="font-size:24px; color:black;"></i>
					</div>
					<div class="shoe-style-dropdown  product-details-dropdown dropdown-hidden">
						<span class="cancel-drop">x</span>
						<label class="container">
						  <input type="checkbox" />
						 <span class="shoe-style"> High</span>
						 <span class="shoe-style-count">[35]</span>
						</label>
						<label class="container">
						  <input type="checkbox">
						  <span class="shoe-style">Low</span>
						 <span class="shoe-style-count">[25]</span>
						</label>
					</div>
				</div>
				
				
			</div>
			<div class="menu-two">
				<div>
					<div class="tool-bar-items-2">
					 	<h4>SORT BY</h4>
						<i class="fa fa-angle-down desc-icons" style="font-size:24px; color:black;"></i>
					</div>
					<div>
						
				 </div>
				</div>
				
				
			</div>
			
		</div>
		<hr>
		
	</section>
	
	<section class="display-shoes-section">
		<h2>100 RESULTS FOR 'ALL SHOES'</h2>
		
		<section class="section3">
					<div class="suggested-shoes"> 
							 <div th:each="shoe : ${shoes}" class="container-featured-shoes-items">
								 <a th:href="@{/home/selectedShoe}" id="anchorSugest">
		                         <img th:src="${shoe.pictureURL}" width="100%" height="100%">
		                         </a>
		                         <p class="price" th:text="${'C$ ' + shoe.price}"></p>
		                         <div class="shoe-desc" th:id="${shoe.shoeName}">
									 <h6 class="name" th:text="${shoe.shoeName}"></h6>
			                         <p class="describe">Men's Shoe</p>
			                         <p class="describe">3 Colors</p>
							 	</div>   
		                 </div> 
		                    
		                     
					</div>
					  
		</section>
		
		
	</section>
		
		
		
		
		
	
	
	<footer th:include="fragments/general.html :: footer"></footer>	
	
	<script th:src="@{/Script/dropdown.js}"></script>
	
	<script th:src="@{/Script/search.js}"></script>
	<script th:src="@{/Script/filterDropDown.js}"></script>
	
	
</body>
</html>