<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/RegisterPage.css}">
<title>Insert title here</title>

</head>
<body>
	

	<div class="main-container">
		<div class="first-container">
				<img th:src="@{/images/shoe.png}" class="shoe">			
		</div>
		<div class="second-container">
			<div class="item item1">
				<a th:href="@{/}">
					<img th:src="@{/images/logo.png}" style="width:250px;margin-top:100px;">
				</a>	
			</div>
			<div class="item item2">
				
			        <form method="post" th:action="@{/register}">
			
			            <div class="sign">
			                <a th:href="@{/home/registrationPage}">
			                    <p>	
			                        <strong>Sign-Up</strong>
			                    </p>
			                </a>
			                <a th:href="@{/login}" id="sign-in">
			                    <p>
			                         <strong>Sign-In</strong>
			                    </p>
			                </a>
			                
			            </div>
			            <hr id="first-hr">
			            <hr id="second-hr">
			            <br>
			        	
			            <input type="text" id="firstname" name="firstname" placeholder="First name*">
			            <br>
			            <br>
			            <input type="email" id="email" name="email" placeholder="Email Address*">
				 	    <br>
			            <br>
			          
			            <input type="password" id="password" name="password" placeholder="Password*" onkeyup="checkPassword()">
			            <br>
			            <br>
			            <div th:if="${annouce}" class="error-message">
           						 <p th:text="${annouce}"></p>
        				</div>
			            <span id="error"></span>
			            <input type="password" id="password2" name="password2"  placeholder="Confirm Password*" onkeyup="checkPassword()">
			            <br>
			            <br>
			            
			            <section></section>
							 <input type="checkbox" id="via" name="via">
							 <label>
								I want to receive special offers and other information from Eagle's store via email
							</label>
						</section>
			            
						<br>
			            <br>
			            <section>
							<input type="checkbox" id="terms" required name="terms">
			            <label for="terms">
						    I acknowledge and agree to the following: 
						    <a href="#">Privacy Policy</a> <a href="#"> Terms and Conditions</a> 
						</label>
						</section>
			            
						
						
						<br>
						<br>
						<br>
						<br>
						
			            <input type="submit" id="submitBtn" value="Register as Member" class="btn11" disabled>
			        </form>
    			</div>
			</div>
			
		</div>
		
		
	</div>
	<script>
        function checkPassword() {
            const password1 = document.getElementById('password').value;
            const password2 = document.getElementById('password2').value;
            const submitButton = document.getElementById('submitBtn');
            const errorSpan = document.querySelector("#error");

            if (password1 === password2 && password1 !== "") {
                submitButton.disabled = false;
                errorSpan.innerHTML = "";  // Clear error message when passwords match
            } else {
				if (password2 !== "") {
				  errorSpan.innerHTML = "Passwords do not match!";
				}
				else{
					errorSpan.innerHTML = ""
				}
				submitButton.disabled = true;
            }
        }
    </script>


	</body>
</html>
