<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link rel="stylesheet" th:href="@{/css/general.css}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/shoeSelected.css}">
</head>

<body>
	
	
		<header th:include="fragments/general.html :: header"></header>
		
		<section class="content-container">
				<div class="selected-shoecontainer">
					<div class="columns">
						<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/fd5cf11b9cff43b79244011ed13f0d58_9366/Samba_OG_Shoes_Kids_White_IE8848_01_standard.jpg}">
						<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/86cd73d94f164a95849a480e0492a480_9366/Samba_OG_Shoes_Kids_White_IE8848_02_standard_hover.jpg}">
						<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/679a1541b1a244c1aad39f3da19845ae_9366/Samba_OG_Shoes_Kids_White_IE8848_03_standard.jpg}">
						<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/0f179e1a58d84657990a618137fc57bc_9366/Samba_OG_Shoes_Kids_White_IE8848_04_standard.jpg}">
						<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/c5956b071b7f4b1991d4f7b1f813c443_9366/Samba_OG_Shoes_Kids_White_IE8848_05_standard.jpg}">
						<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ab0ca269a80f4ff0a4d74ee7cc17def3_9366/Samba_OG_Shoes_Kids_White_IE8848_42_detail.jpg}">
					</div>
					<div class="containerSlide">
						<div class="Slide-Images hidden">
							<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/fd5cf11b9cff43b79244011ed13f0d58_9366/Samba_OG_Shoes_Kids_White_IE8848_01_standard.jpg}">
						</div>
						
						<div class="Slide-Images hidden">
							<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/86cd73d94f164a95849a480e0492a480_9366/Samba_OG_Shoes_Kids_White_IE8848_02_standard_hover.jpg}">
						</div>
						
						<div class="Slide-Images hidden">
							<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/679a1541b1a244c1aad39f3da19845ae_9366/Samba_OG_Shoes_Kids_White_IE8848_03_standard.jpg}">
						</div>
						
						<div class="Slide-Images hidden">
							<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/0f179e1a58d84657990a618137fc57bc_9366/Samba_OG_Shoes_Kids_White_IE8848_04_standard.jpg}">
						</div>
						
						<div class="Slide-Images hidden" >
							<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/c5956b071b7f4b1991d4f7b1f813c443_9366/Samba_OG_Shoes_Kids_White_IE8848_05_standard.jpg}">
						</div>
						
						<div class="Slide-Images hidden">
							<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/ab0ca269a80f4ff0a4d74ee7cc17def3_9366/Samba_OG_Shoes_Kids_White_IE8848_42_detail.jpg}">
						</div>
						
						<button class="slideControl prev">&#10094;</button>
						<button class="slideControl next">&#10095;</button>
					</div>
					
					
					
				</div>
					
				
				<div class="container-description">
					<div class="brief-desc">
						<h3>Samba OG Shoes Kids</h3>
						<p>Younger Kids' Shoes</p>
					</div>
					<div>
						<h4>CAD $80</h4>
					</div>
					
					<div>
						<h4>Colours</h4>
						<br>
						<div class="colour-options">
							<img  th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/a6a1ecb378204fc6a5a3571b1a3a973e_9366/Samba_OG_Shoes_Kids_White_IE3677_01_00_standard.jpg}">
							<img  th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/c67fe1e42d914f58945caeadf84f6d33_9366/Samba_OG_Shoes_Kids_Black_IE3678_01_standard.jpg}">
							<img  th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/fd5cf11b9cff43b79244011ed13f0d58_9366/Samba_OG_Shoes_Kids_White_IE8848_01_standard.jpg}">
						</div>
					</div>
					
					<div class="size-options-container">
						<h4>Select SIze</h4>
						<br>
						<div class="size-options">
							<p>US 7C</p>
							<p>US 7.5C</p>
							<p>US 8C</p>
							<p>US 8.5C</p>
							<p>US 9C</p>
							<p>US 9.5C</p>
							<p>US 10C</p>
							<p>US 10.5C</p>
							<p>US 11C</p>
							<p>US 11.5C</p>
							<p>US 12c</p>
							<p>US 12.5c</p>
						</div>
					</div>
					
					<div class="controls-selected-shoe">
						<button class="controls addToCart"> Add to Cart</button>
						<button class="controls addToFavourite">Favourite</button>
					</div>
					
					<div class="freeShip">
				   		<a href="#">Free Standard Shipping for members</a>
					</div>
					
				</div>	
		</section>
			
		<section class="section2-container">
			
			<div class="all-details">
				<hr>
				<div>
					<div class="product-details-control">
						<p>Product Details </p>
						<i class="fa fa-angle-down desc-icons" style="font-size:24px; color:black;"></i>
					</div>
					<div class="product-details-dropdown dropdown-hidden">
						<div class="move-ul">
							<ul>
							  <li>Stylish and durable with a leather and textile upper</li>
							  <li>Secure fit provided by classic laces</li>
							  <li>Lightweight comfort thanks to a cushioned midsole</li>
							  <li>Long-lasting traction with a durable rubber outsole</li>
							</ul>
							
						</div>
						
						<p>Product code: IH2981</p>
					</div>
				</div>
				
			<hr>
				<div>
					<div class="product-details-control">
						<p>Reviews </p>
						<i class="fa fa-angle-down desc-icons" style="font-size:24px; color:black;"></i>
					</div>
					<div class="product-details-dropdown dropdown-hidden">
						<button class="section3-items-button">WRITE THE FIRST REVIEW &#10230;</button>
					</div>
				</div>
				
			
			
			
				
			
			<hr>
				<div>
					<div class="product-details-control">
						<p>Description </p>
						<i class="fa fa-angle-down desc-icons" style="font-size:24px; color:black;"></i>
					</div>
					<div class="product-details-dropdown dropdown-hidden">
						<div>
							<div class="drop-desc">
								<div>
									<h3>Authentic Samba shoes for the next generation.</h3>
								<p>
									If you were to time travel back to the 1960s, you’d see pro soccer players wearing adidas Sambas similar to these kids’ shoes. 
									Well, almost similar. Updated for the new generation, these shoes offer a soft sockliner for all-day comfort. 
									The leather upper, gum rubber sole, and iconic 3-Stripes keep the classic style intact.
								</p>
									
								</div>
								
								<img th:src="@{https://assets.adidas.com/images/h_840,f_auto,q_auto,fl_lossy,c_fill,g_auto/0f179e1a58d84657990a618137fc57bc_9366/Samba_OG_Shoes_Kids_White_IE8848_04_standard.jpg}">
							</div>
						</div>
						
					</div>
				</div>
				
				
			
			<hr>
			
			<div>
					<div class="product-details-control">
						<p> Delivery </p>
						<i class="fa fa-angle-down desc-icons" style="font-size:24px; color:black;"></i>
					</div>
					<div class="product-details-dropdown delivery-div  dropdown-hidden">
						<div>
							<h3>Shipping Options in Canada</h3>
								<p>Eagles provides various shipping options to suit your needs for deliveries within Canada.</p>
								<div class="move-ul">
								<ul>
								  <li>FREE Standard Shipping: Available on all orders over $99*</li>
								  <li>$10 Flat Rate Standard Shipping:Applies to orders not eligible for free shipping</li>
								  <li>$10 Express Shipping: For orders over $99</li>
								  <li>$13 Express Shipping: For orders under $99 or those containing release products</li>
								  <li>Standard Shipping to NWT, Yukon, and Nunavut:$20.00</li>
								  <li>Express Shipping to NWT, Yukon, and Nunavut: $30.00</li>
								</ul>
								</div>
						</div>		
						<div>
							<h3>Estimated Delivery Times</h3>
							<div class="move-ul">
							<ul>
							  <li>Standard Shipping: 5-7 business days</li>
							  <li>Express Shipping: 1-2 business days</li>
							</ul>
							</div>
							
							<p>Please allow an additional 3-5 business days for our team to process your order for shipment.</p>
							<p>Note: We only ship to locations within Canada and do not offer international shipping.</p>
							<p>For more details, please view our <a style="text-decoration: underline;">Shipping Policy.</a></p>
						</div>
						

					</div>
				</div>
			
				
			<hr>	
			</div>
		</section>
		
		<section class="section3">
					<h1>YOU MAY ALSO LIKE</h1>
					<br>
					<div class="suggested-shoes"> 
							 <div th:each="shoe : ${shoes}" class="container-featured-shoes-items">
								 <a th:href="@{/home/selectedShoe}" id="anchorSugest">
		                         <img th:src="${shoe.pictureURL}" width="100%" height="100%">
		                         </a>
		                         <i th:id="${shoe.shoeId}" class="fa fa-heart favourite" style='font-size:35px;'></i>
		                         <p class="price" th:text="${'C$ ' + shoe.price}"></p>
		                         <img class="heart">
		                         <div class="shoe-desc" th:id="${shoe.shoeName}">
									 <h6 class="name" th:text="${shoe.shoeName}"></h6>
			                         <p class="describe">Men's Shoe</p>
			                         <p class="describe">3 Colors</p>
								 </div>
		                      </div> 
					</div>
		</section>
		<footer th:include="fragments/general.html :: footer"></footer>

<script th:src="@{/Script/selectedShoe.js}"></script>
<script th:src="@{/Script/dropdown.js}"></script>	
<script th:src="@{/Script/search.js}"></script>  
<script th:src="@{/Script/favourite.js}"></script>
 
</body>
</html>