<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:fragment="headerfiles">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

<title>Thymeleaf Fragments</title>
<link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<div th:fragment="header" class="header-container">
	<div class="headerItem headerItem1">
				<h3>Get $100 for $75 shopping</h3>
			</div>
			<div class="headerItem headerItem2">
				<div class="headerGrandItem headerGrandItem0">
					<a th:href="@{/}">
						<img th:src="@{/images/logo123.png}" style="width:90px;">	
					</a>
					
					
				</div>
				
				<div class="headerGrandItem headerGrandItem1">
					<h6 class="dropdown">Women</h6>
					<h6 class="dropdown">Men</h6>
					<h6 class="dropdown">Boys</h6>
					<h6 class="dropdown">Girls</h6>
					<h6 class="dropdown">Sport</h6>
					<h6 class="dropdown">Sales</h6>
				</div>
				
				<div class="headerGrandItem headerGrandItem2">
                     
                     <div class="text" id="searchbar">
  		             <input type="text" placeholder="Search">
                     <span id="search" class="material-icons">&#xe8b6;</span>
			    	</div>

					<a th:href="@{/home/wishListPage}">
						<i class="fa fa-heart" style='font-size:30px;'></i>
					</a>
					
					<a th:href="@{/home/cartPage}">
						<i class="fa fa-shopping-cart" style='font-size:30px;'></i>
					</a>
					
					<a th:href="@{/home/profilePage}">
						<i id="profile" class="fa fa-user dropdown" style='font-size:28px; padding-left: 13px;'></i>
					</a>	
				</div>
					
				   
				<div class="profile-dropdown">
	            		<div sec:authorize="isAnonymous()">
							<a href="/login"><p>Login</p></a>
				 		</div>
						<div sec:authorize="isAuthenticated()">
							<a><p>My Profile</p></a>
						<a><p style="border-bottom: none;">Log Out</p></a>
						</div>
						</div>
						
			</div>
			
			
			<div class="women-dropdown">
				<div class="content content1">
					<h3><a href="">New Arrivals</a></h3>
					<h3><a href="">Launch Calendar</a></h3>
					<h3><a href="">Exclusive Offers</a></h3>
					<h3><a href="">Premium Shoes</a></h3>
					<h3><a href="">Best Sellers</a></h3>
					<h3><a href="">Future Release</a></h3>
					<h3 id="sales"><a href="">Sales</a></h3>
				</div>
				<div class="content">
					<h4>Casual</h2>
					<p><a id="nike">Nike</a></p>
					<p><a id="adidas">Adidas</a></p>
					<p><a id="puma">Puma</a></p>
					<p><a id="gucci">Gucci</a></p>
					<p><a id="new-balance">New Balance</a></p>
					<p><a id="colombia">Colombia</a></p>
					<p><a id="louis-vuitton">Louis Vuitton</a></p>
					<p><a id="slides-and-crocs">Slides and Crocs</a></p>
					<p><a id="other-casual-shoes">Other Casual Shoes</a></p>

				</div>
				<div class="content">
					<h4>Corporate</h4>
					<p><a href="" id="marks-and-spencer">Marks and Spencer</a></p>
					<p><a href="" id="zegna">Zegna</a></p>
					<p><a href="" id="louis-vuitton">Louis Vuitton</a></p>
					<p><a href="" id="cole-haan">Cole Haan</a></p>
					<p><a href="" id="ecco">ECCO</a></p>
					<p><a href="" id="rockport">Rockport</a></p>
					<p><a href="" id="other-corporate-shoes">Other Corporate Shoes</a></p>

				</div>
				<div class="content">
					<h4>Sport</h4>
					<p><a href="" id="basketball">Basketball</a></p>
					<p><a href="" id="soccer">Soccer</a></p>
					<p><a href="" id="tennis">Tennis</a></p>
					<p><a href="" id="running">Running</a></p>
					<p><a href="" id="training">Training</a></p>
					<p><a href="" id="hiking">Hiking</a></p>
					<p><a href="" id="other-sport-shoes">Other Sport Shoes</a></p>
				</div>
				<div class="content">
					<h4><a href="" id="boots">Boots</a></h4>
					<p><a href="" id="london-shoes">London shoes</a></p>
					<p><a href="" id="psuedo">Psuedo</a></p>
					<p><a href=""id="timberland">Timberland</a></p>
					<p><a href="" id="winter">Winter</a></p>
					<p><a href="" id="hiking">Hiking</a></p>
					<p><a href="" id="other-boots">Other Boots</a></p>
				</div>
			</div>
			<div class="men-dropdown">
				<div class="content content1">
					<h3><a href="">New Arrivals</a></h3>
					<h3><a href="">Launch Calendar</a></h3>
					<h3><a href="">Exclusive Offers</a></h3>
					<h3><a href="">Premium Shoes</a></h3>
					<h3><a href="">Best Sellers</a></h3>
					<h3><a href="">Future Release</a></h3>
					<h3 id="sales"><a href="">Sales</a></h3>
				</div>
				<div class="content">
					<h4>Casual</h2>
					<p><a id="nike">Nike</a></p>
					<p><a id="adidas">Adidas</a></p>
					<p><a id="puma">Puma</a></p>
					<p><a id="gucci">Gucci</a></p>
					<p><a id="new-balance">New Balance</a></p>
					<p><a id="colombia">Colombia</a></p>
					<p><a id="louis-vuitton">Louis Vuitton</a></p>
					<p><a id="slides-and-crocs">Slides and Crocs</a></p>
					<p><a id="other-casual-shoes">Other Casual Shoes</a></p>

				</div>
				<div class="content">
					<h4>Corporate</h4>
					<p><a href="" id="marks-and-spencer">Marks and Spencer</a></p>
					<p><a href="" id="zegna">Zegna</a></p>
					<p><a href="" id="louis-vuitton">Louis Vuitton</a></p>
					<p><a href="" id="cole-haan">Cole Haan</a></p>
					<p><a href="" id="ecco">ECCO</a></p>
					<p><a href="" id="rockport">Rockport</a></p>
					<p><a href="" id="other-corporate-shoes">Other Corporate Shoes</a></p>

				</div>
				<div class="content">
					<h4>Sport</h4>
					<p><a href="" id="basketball">Basketball</a></p>
					<p><a href="" id="soccer">Soccer</a></p>
					<p><a href="" id="tennis">Tennis</a></p>
					<p><a href="" id="running">Running</a></p>
					<p><a href="" id="training">Training</a></p>
					<p><a href="" id="hiking">Hiking</a></p>
					<p><a href="" id="other-sport-shoes">Other Sport Shoes</a></p>
				</div>
				<div class="content">
					<h4><a href="" id="boots">Boots</a></h4>
					<p><a href="" id="london-shoes">London shoes</a></p>
					<p><a href="" id="psuedo">Psuedo</a></p>
					<p><a href=""id="timberland">Timberland</a></p>
					<p><a href="" id="winter">Winter</a></p>
					<p><a href="" id="hiking">Hiking</a></p>
					<p><a href="" id="other-boots">Other Boots</a></p>
				</div>
			</div>
			<div class="boys-dropdown">
			    <div class="content content1">
			        <h3><a href="">Get Set for School</a></h3>
			        <h3><a href="">New & Featured</a></h3>
			        <h3><a href="">Shoes</a></h3>
			        <h3><a href="">Clothing</a></h3>
			        <h3><a href="">Shop by Sport</a></h3>
			        <h3><a href="">Teenager</a></h3>
			        <h3><a href="">Kids</a></h3>
			    </div>
			    <div class="content" style="height:10%">
			        <h4>Get Set for School</h4>
			        <p><a href="#">Extra 25% Off Fall Styles</a></p>
			        <p><a href="#">Shop the Collection</a></p>
			        <p><a href="#">Shopping Guide</a></p>
			        <p><a href="#">Bags & Backpacks</a></p>
			    </div>
			    <div class="content" style="height:10%">
			        <h4>New & Featured</h4>
			        <p><a href="#">New Arrivals</a></p>
			        <p><a href="#">Best Sellers</a></p>
			        <p><a href="#">New & Upcoming Drops</a></p>
			        <p><a href="#">All Sale</a></p>
			    </div>
			    <div class="content">
			        <h4>Shoes</h4>
			        <p><a href="#">All Shoes</a></p>
			        <p><a href="#">Lifestyle</a></p>
			        <p><a href="#">Jordan</a></p>
			        <p><a href="#">Dunk</a></p>
			        <p><a href="#">Retro Running</a></p>
			        <p><a href="#">Training & Gym</a></p>
			        <p><a href="#">Basketball</a></p>
			        <p><a href="#">Running</a></p>
			        <p><a href="#">Sandals & Slides</a></p>
			        <p><a href="#">Shoes by You</a></p>
			        <p><a href="#">Shoes $100 & Under</a></p>
			    </div>
			    <div class="content">
			        <h4>Shop by Sport</h4>
			        <p><a href="#">Basketball</a></p>
			        <p><a href="#">Running</a></p>
			        <p><a href="#">Golf</a></p>
			        <p><a href="#">Soccer</a></p>
			        <p><a href="#">Training & Gym</a></p>
			        <p><a href="#">Tennis</a></p>
			        <p><a href="#">Baseball</a></p>
			        <p><a href="#">Football</a></p>
			        <p><a href="#">Trail Running</a></p>
			        <p><a href="#">Swimming</a></p>
			        <p><a href="#">Pickleball</a></p>
			        <p><a href="#">Fan Gear</a></p>
			    </div>
			    <div class="content">
			        <h4>Teenager</h4>
			        <p><a href="#">Trendy Shoes</a></p>
			        <p><a href="#">Stylish shoes</a></p>
			        <p><a href="#">Sport shoes</a></p>
			        <p><a href="#">Casual shoes</a></p>
			        <p><a href="#">Accessories</a></p>
			    </div>
			    <div class="content">
			        <h4>Kids</h4>
			        <p><a href="#">Play Shoes</a></p>
			        <p><a href="#">Comfortable shoes</a></p>
			        <p><a href="#">Back-to-School Essentials</a></p>
			        <p><a href="#">Cute Accessories</a></p>
			        <p><a href="#">Toys and Gear</a></p>
			    </div>
		</div>

		

			<div class="girls-dropdown">
			    <div class="content content1">
			        <h3><a href="">Get Set for School</a></h3>
			        <h3><a href="">New & Featured</a></h3>
			        <h3><a href="">Shoes</a></h3>
			        <h3><a href="">Clothing</a></h3>
			        <h3><a href="">Shop by Sport</a></h3>
			        <h3><a href="">Teenager</a></h3>
			        <h3><a href="">Kids</a></h3>
			        <h3><a href="">Girls' Accessories</a></h3>
			        <h3><a href="">Girls' Beauty</a></h3>
			    </div>
			    <div class="content">
			        <h4>Get Set for School</h4>
			        <p><a href="#">Extra 25% Off Fall Styles</a></p>
			        <p><a href="#">Shop the Collection</a></p>
			        <p><a href="#">Shopping Guide</a></p>
			        <p><a href="#">Bags & Backpacks</a></p>
			    </div>
			    <div class="content">
			        <h4>New & Featured</h4>
			        <p><a href="#">New Arrivals</a></p>
			        <p><a href="#">Best Sellers</a></p>
			        <p><a href="#">New & Upcoming Drops</a></p>
			        <p><a href="#">All Sale</a></p>
			    </div>
			    <div class="content">
			        <h4>Shoes</h4>
			        <p><a href="#">All Shoes</a></p>
			        <p><a href="#">Casual Shoes</a></p>
			        <p><a href="#">Heels</a></p>
			        <p><a href="#">Sandals</a></p>
			        <p><a href="#">Sneakers</a></p>
			        <p><a href="#">Boots</a></p>
			        <p><a href="#">Sports Shoes</a></p>
			    </div>
			    <div class="content">
			        <h4>Shop by Sport</h4>
			        <p><a href="#">Basketball</a></p>
			        <p><a href="#">Running</a></p>
			        <p><a href="#">Tennis</a></p>
			        <p><a href="#">Soccer</a></p>
			        <p><a href="#">Gymnastics</a></p>
			        <p><a href="#">Swimming</a></p>
			    </div>
			    <div class="content">
			        <h4>Teenager</h4>
			        <p><a href="#">Trendy Outfits</a></p>
			        <p><a href="#">Stylish Shoes</a></p>
			        <p><a href="#">Accessories</a></p>
			        <p><a href="#">Sportswear</a></p>
			        <p><a href="#">Casual Wear</a></p>
			    </div>
			    <div class="content">
			        <h4>Kids</h4>
			        <p><a href="#">Play Shoes</a></p>
			        <p><a href="#">Cute Dresses</a></p>
			        <p><a href="#">Comfortable Clothing</a></p>
			        <p><a href="#">Back-to-School Essentials</a></p>
			        <p><a href="#">Toys and Gear</a></p>
			    </div>
			    <div class="content">
			        <h4>Girls' Accessories</h4>
			        <p><a href="#">Jewelry</a></p>
			        <p><a href="#">Bags & Purses</a></p>
			        <p><a href="#">Hats & Scarves</a></p>
			        <p><a href="#">Belts</a></p>
			    </div>
			    <div class="content">
			        <h4>Girls' Beauty</h4>
			        <p><a href="#">Skincare</a></p>
			        <p><a href="#">Haircare</a></p>
			        <p><a href="#">Fragrances</a></p>
			        <p><a href="#">Makeup</a></p>
			        <p><a href="#">Nail Care</a></p>
    </div>
</div>

			<div class="sport-dropdown">
				<div class="content">
					<h4>Basketball</h2>
					<p><a id="nike">Nike</a></p>
					<p><a id="adidas">Adidas</a></p>
					<p><a id="puma">Puma</a></p>
					<p><a id="other-casual-shoes">Other Basketball Shoes</a></p>

				</div>
				
				<div class="content">
					<h4>Training</h2>
					<p><a id="nike">Nike</a></p>
					<p><a id="adidas">Adidas</a></p>
					<p><a id="puma">Puma</a></p>
					<p><a id="gucci">Gucci</a></p>
					<p><a id="new-balance">New Balance</a></p>
					<p><a id="other-casual-shoes">Other Training Shoes</a></p>

				</div>
				<div class="content">
					<h4>Tennis</h4>
					<p><a href="" id="marks-and-spencer">Marks and Spencer</a></p>
					<p><a href="" id="zegna">Zegna</a></p>
					<p><a href="" id="rockport">Rockport</a></p>
					<p><a href="" id="other-corporate-shoes">Other Tennis Shoes</a></p>
				</div>
				<div class="content">
					<h4>Soccer</h4>
					<p><a href="" id="marks-and-spencer">Marks and Spencer</a></p>
					<p><a href="" id="zegna">Zegna</a></p>
					<p><a href="" id="rockport">Rockport</a></p>
					<p><a href="" id="other-corporate-shoes">Other Tennis Shoes</a></p>
				</div>
				<div class="content">
					<h4>Golf</h4>
					<p><a href="" id="basketball">Basketball</a></p>
					<p><a href="" id="soccer">Soccer</a></p>
					<p><a href="" id="tennis">Tennis</a></p>
					<p><a href="" id="running">Running</a></p>
					<p><a href="" id="training">Training</a></p>
					<p><a href="" id="hiking">Hiking</a></p>
					<p><a href="" id="other-sport-shoes">Other Golf Shoes</a></p>
				</div>
				<div class="content">
					<h4><a href="" id="boots">Other Sports</a></h4>
					<p><a href="" id="london-shoes">London shoes</a></p>
					<p><a href="" id="psuedo">Psuedo</a></p>
					<p><a href=""id="timberland">Timberland</a></p>
					<p><a href="" id="winter">Winter</a></p>
					<p><a href="" id="hiking">Hiking</a></p>
					<p><a href="" id="other-boots">Other Boots</a></p>
				</div>
			</div>
			<div class="sales-dropdown">
				<div class="content content1">
					<h3><a href="">New Arrivals</a></h3>
					<h3><a href="">Launch Calendar</a></h3>
					<h3><a href="">Exclusive Offers</a></h3>
					<h3><a href="">Premium Shoes</a></h3>
					<h3><a href="">Best Sellers</a></h3>
					<h3><a href="">Future Release</a></h3>
					<h3 id="sales"><a href="">Sales</a></h3>
				</div>
				<div class="content">
					<h4>Men</h4>
					<p><a id="nike">Nike</a></p>
					<p><a id="adidas">Adidas</a></p>
					<p><a id="puma">Puma</a></p>
					<p><a id="gucci">Gucci</a></p>
					<p><a id="new-balance">New Balance</a></p>
					<p><a id="colombia">Colombia</a></p>
					<p><a id="louis-vuitton">Louis Vuitton</a></p>
					<p><a id="slides-and-crocs">Slides and Crocs</a></p>
					<p><a id="other-casual-shoes">Other Casual Shoes</a></p>

				</div>
				<div class="content">
					<h4>Women</h4>
					<p><a href="" id="marks-and-spencer">Marks and Spencer</a></p>
					<p><a href="" id="zegna">Zegna</a></p>
					<p><a href="" id="louis-vuitton">Louis Vuitton</a></p>
					<p><a href="" id="cole-haan">Cole Haan</a></p>
					<p><a href="" id="ecco">ECCO</a></p>
					<p><a href="" id="rockport">Rockport</a></p>
					<p><a href="" id="other-corporate-shoes">Other Corporate Shoes</a></p>

				</div>
				<div class="content">
					<h4>Kids</h4>
					<p><a href="" id="basketball">Basketball</a></p>
					<p><a href="" id="soccer">Soccer</a></p>
					<p><a href="" id="tennis">Tennis</a></p>
					<p><a href="" id="running">Running</a></p>
					<p><a href="" id="training">Training</a></p>
					<p><a href="" id="hiking">Hiking</a></p>
					<p><a href="" id="other-sport-shoes">Other Sport Shoes</a></p>
				</div>
				
			</div>
			<div class="overlay1 hidden1 cancel"></div>
		<div class="hidden1 modal1">
			
			<div class="modal-search">
				 <div class="bigSerch-box">
  		             <input type="text" placeholder="Search" id="bigSerch">
                     <span  class="material-icons search-box-icon" style="font-size:30px;">&#xe8b6;</span>
                     
			    	</div>
			    	<span class="cancel cancel2 search-box-icon" >&#10006;</span>
			</div>
			<div class="modal-content">
				
			</div>
				<!--<span class="cancel">&#10006;</span>-->
       
   		 </div>
</div>


<div class="woof"></div>

<footer th:fragment="footer">
	<div class="footer-sections footer-sections1">
		        <div class="footer-sections-items fotter-item1">
		            <p>Contact Us <span style='font-size:18px;'>&#10230</span></p>
		        </div>
		        <div class="footer-sections-items">
		          
		            <p>Shipping info <span style='font-size:18px;'>&#10230</span></p> 
		        </div>
		        <div class="footer-sections-items">
		         
		            <p>Order Status <span style='font-size:18px;'>&#10230</span></p>
		        </div>
		        <div class="footer-sections-items">
		           
		            <p>Store Pickup <span style='font-size:18px;'>&#10230</span></p>
		            
		        </div>
		        <div class="footer-sections-items">
		           
		            <p>Return Exchange <span style='font-size:18px;'>&#10230</span></p>
		        </div>
		        <div class="footer-sections-items">
		            
		            <p>Help <span style='font-size:18px;'>&#10230</span></p>
		        </div>
		    </div>
		
		    <div class="footer-sections footer-sections2">
		        <div class="common-class product-unique">
		            <h3>PRODUCT</h3>
		            <a href="#">Corporates</a>
		            <a href="#">Boots</a>
		            <a href="#">Casual</a>
		            <a href="#">New Arrivals</a>
		            <a href="#">Best Sellers</a>
		            <a href="#">Release Dates</a>
		            <a href="#">Outlet</a>
		            <a href="#">Exclusives Deals</a>
		        </div>
		
		        <div class="common-class sports-unique">
		            <h3>SPORTS</h3>
		            <a href="#">Soccer</a>
		            <a href="#">Running</a>
		            <a href="#">Basketball</a>
		            <a href="#">Training</a>
		            <a href="#">Golf</a>
		            <a href="#">Hockey</a>
		            <a href="#">Outdoor</a>
		            <a href="#">Tennis</a>
		            <a href="#">Snowboarding</a>
		            <a href="#">Volleyball</a>
		            <a href="#">Swimming</a>
		            <a href="#">Skateboarding</a>
		        </div>
		
		        <div class="common-class brands-unique">
		            <h3>BRANDS</h3>
		            <a href="#">Nike</a>
		            <a href="#">Adidas</a>
		            <a href="#">Puma</a>
		            <a href="#">New Balance</a>
		            <a href="#">Reebok</a>
		            <a href="#">Under Armour</a>
		            <a href="#">Converse</a>
		            <a href="#">Vans</a>
		            <a href="#">Asics</a>
		            <a href="#">Skechers</a>
		            <a href="#">Fila</a>
		            <!-- Corporate Shoe Brands -->
		            <a href="#">Cole Haan</a>
		            <a href="#">ECCO</a>
		            <a href="#">Clarks</a>
		            <a href="#">Rockport</a>
		            <a href="#">Hush Puppies</a>
		            <a href="#">Allen Edmonds</a>
		        </div>
		
		        <div class="common-class ">
		            <h3>FOLLOW US</h3>
		            <div class="follow-us-unique">
			            <a href="#" class="fa fa-facebook" style='font-size:30px;'></a>
						<a href="#" class="fa fa-twitter" style='font-size:30px;'></a>
						<a href="#" class="fa fa-youtube" style='font-size:30px;'></a>
						<a href="#" class="fa fa-instagram" style='font-size:30px;'></a>
						
					</div>
		        </div>
		        <div class="common-class support-unique">
		            <h3>SUPPORT</h3>
		            <a href="">Help & Customer Service</a>
		            <a href="">Contact Us</a>
		            <a href="">Returns & Exchanges</a>
		            <a href="">Shipping</a>
		            <a href="">Order Tracker</a>
		            <a href="">Gift Cards</a>
		            <a href="">Store Locator</a>
		            <a href="">How to Clean</a>
		            <a href="">Affiliate Program</a>
		            <a href="">Team Uniform Inquiries</a>
		        </div>
		
		        <div class="common-class about-unique">
		            <h3>Our Team</h3>
		            <a href="#">About Us</a>
		            <a href="#">Careers</a>
		            <a href="#">Eagles News</a>
		            <a href="#">Eagles Team</a>
		            <a href="#">Sustainability</a>
		            <a href="#">Mobile Apps</a>
		        </div>
		    </div>
		    <div class="copy-write">
				<div>
					<a>Cookies </a> |
					<a>Privacy Policy </a> |
					<a>Terms and Conditions</a>
				</div>
				
				<p>&copy; 2024 Eagles Team</p>
			</div>
			
	
</footer>

</body>
</html>