@charset "ISO-8859-1";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
	        font-family: 'Poppins', sans-serif;

}


.text{
	width:200px;
	 border:1px solid white;
	 border-radius: 10px;
	 background: black;
	 color:white;
	 display: flex;
	 justify-content: center;
 }
 
 #search{
	 margin:3px;
 }

header{
	display:grid;
	grid-template-rows: 30% 70%;
	height:130px;
	background-color: black;
	color:white;
	width:100%;
	position: relative;
	
}
.headerItem1{
	display:grid;
	justify-content: center;
	padding-top: 10px;
	background-image: url("https://img.freepik.com/free-vector/set-basic-doodle-arrows_78370-1785.jpg?size=626&ext=jpg&uid=R113643224&ga=GA1.1.1824738532.1700614501&semt=ais");
	background-size: cover;
	grid-template-columns: auto auto;
	 font-size:15px;
}

.headerItem2{
	grid-row-gap: -22px;
	display:grid;
	grid-template-columns: 25% 40% 35%;
	grid-template-rows: auto auto;

}
.headerGrandItem0
{
	 display:flex;
	 justify-content: space-evenly;
	 align-items: center;
	 font-size:15px;
}
.headerGrandItem1{
	 display:grid;
	justify-content: center;
	 grid-template-columns: 14% repeat(5,12%) ;
	 align-items: center;
	 padding:10px;
	 margin-left:25%;
	
 }

 .headerGrandItem1 h6{
	 font-size:14px;
	  height:70px;
	  text-align: center;
	  padding-top:20px;
	  align-self: center;
	   
	 
 }
 .headerGrandItem1 h6:hover{
	 border-bottom:2px solid white;
 }
 


 .headerGrandItem2{
	 display:grid;
   justify-content: end;
	grid-template-columns:210px repeat(3,60px);
	 align-items: center;
	 padding-right: 20px;
	 z-index: 2;
	
 }
 .women-dropdown, .men-dropdown, .boys-dropdown, .girls-dropdown,.sales-dropdown,.sport-dropdown{
	 width: 100%;
    height: 450px;
    z-index: 1;
    background-color: white;
     border:2px solid silver;
    color:black;
    margin-top:-4px;
    
 }
 .women-dropdown a, .men-dropdown a, .sport-dropdown a, .sales-dropdown a, .boys-dropdown a,.girls-dropdown a{
	 font-size: inherit;
	 color: inherit;
	 text-decoration: none;
 }
 
 .women-dropdown, .men-dropdown, .sport-dropdown, .sales-dropdown, .boys-dropdown,.girls-dropdown{
	 color:black;
	 display:flex;
	 justify-content: space-between;
	 padding:20px 50px;
	 gap:30px;
 
 }
 .content{
	 padding-top: 30px;
	 display:grid;
	 gap:10px;
	 height:50%;
	 width:100%;
	
	 
 }
 .content h4{
	 font-size: 18px;
	 border-bottom: 2px solid black;
	
 }
 
 .content1{
	 display:grid;
	 font-size: 18px;
	 height:20%;
	 color:rgba(0,0,0,0.6)
	 
	 
 }
 
 .fa-user:hover{
	 background-color: grey;
 }
 .content1 h3:hover{
	 color:rgba(0,0,0,1)
 }
 .content p:hover{
	 text-decoration: underline;
 }
 
 .boys-dropdown, .girls-dropdown{
	 height: 500px;
 }
 .sales-dropdown{
	  height: 400px;
 }
 .sport-dropdown{
	  height: 300px;
 }
 .profile-dropdown{
	 grid-column-start: 3;
	 background-color: black; 
	 color: white;
	 height:70px;
     display: none;
	 grid-template-rows: 1fr 1fr;
	 border:1px solid white;
	 z-index: 5;
	 justify-self: end;
	 margin-right: 4px;
	 margin-top: -20px;
	 border-radius: 7%;
 }
 #sales{
	 color:red;
 }
 .profile-dropdown p{
	 grid-column-start:2;
	 color:white;
	 border-bottom:1px solid silver;
	 width:100%;
	 text-align: center;
	 padding:10px 11px;
	 font-weight: bold;
	 font-size: 12px;
	 
 }
 .profile-dropdown p:hover{
	 font-weight: bolder;
	 font-size: 14px;
	 color: white;
	 text-decoration: none;
 }
 input{
	 border-radius: 10px;
	 background: black;
	 color:white;
	 width:150px;
	 height:30px;
	 text-align: left;
	 margin:1px;
	 border: none;
	 outline: none;
 }
 .fa{
	 
	 color:white;
	  font-size:30px;
	  height:50px;
	   width:50px;
	   padding:10px;
	 
 }
 .fa:hover{
	 border:1px solid #848484; 
 	 border-radius: 50%;
 	 background-color:#848484;
 }
 footer{
	height:700px;
	background-color: black;
	color:white;
}
.footer-sections1{padding-top: 3%;}
.footer-sections{
	display:grid;
	grid-template-columns: repeat(6,auto);
	justify-content: space-evenly;
}
.footer-sections-items{
	
	height: 60px;
	width:180px;
	text-align: center;
	font-weight:bold;
	background-color: #333333;
	box-shadow: 0 3px 3px white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer-sections-items:hover{
	box-shadow: 0 3px 3px greenyellow;
}
.footer-sections2{padding-top: 3%;}
.common-class{
	width:180px;
	display:flex;
	flex-direction: column;
	gap: 7px;
	
}
.common-class a{
	color:white;
	text-decoration: none;
}
.common-class  a:hover{
	color:white;
	text-decoration: underline;
}
.copy-write a:hover{
	text-decoration: underline;
}

.copy-write{
	width: 100%;
	display: flex;
	margin-top:3%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 13px;
	gap: 25px;
	background-color: #333333;
	height:90px;
}
.follow-us-unique{
	display: flex;
	flex-direction: row;
}
.women-dropdown, .men-dropdown, .boys-dropdown, .girls-dropdown,.sales-dropdown,.sport-dropdown{
    display: none;  
  
}




