@charset "ISO-8859-1";
.section-item2 {
    display: flex;
    flex-direction: column;
}
body{ font-family: 'Poppins', sans-serif;}
.adresses {
    display: grid;
    gap: 8px;
}

.item {
    margin-left: 5%;
}
.linklight a{
	color:black;
}
.linklight a:hover{
	    color:  green;

}
#remove:hover{
	color:red;
}
#remove{color:black}